= render partial: "shared/topheader"
= render partial: "shared/pankuzukari"

.oobako
  .ohako
    = render partial: "shared/mypageside"
    .tisanahako
      .syuppinbox
        .syuppinbox__head
          出品した商品
        .syuppinbox__menu
          .syuppinbox__menu__1
            出品中
          .syuppinbox__menu__2
            取引中
          .syuppinbox__menu__3
            売却済み
        .syuppinbox__content
          .syuppinbox__content__item
          .syuppinbox__content__name
            ハサミ
        


= render partial: "shared/topfooter"
