%nav.karinav
  %ul
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span.navmerkari{:itemprop => "title"} メルカリ  ＞
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %span.navsyousai{:itemprop => "title"} 新品 タグ付き babyGAP ベビーギャップ 襟付き 長袖 カットソー 80