%nav.karinav
  %ul
    %li
      - case params.values_at :controller, :action
      - when ['users','mypage']
        - breadcrumb :user
      - when ['users','mypage_session_destroy']
        - breadcrumb :user_logout
      = breadcrumbs separator: "  ＞  "
