.ohako {
  
}
.ohako__content {
  float: right;
  width: 900px;
  padding: 42px 200px 0 0;
  &__container {
    margin: 0;
    background: #fff;
    &__head {
      font-size: 24px;
      padding: 12.5px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }
    &__inner {
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      &__content {
        max-width: 320px;
        margin: 0 auto;
        &__head {
          font-size: 16px;
        }
      }
      &__card {
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        &__content {
          max-width: 320px;
          margin: 0 auto;
          &__button {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            margin-bottom: 8px !important;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            a {
              color: #fff;
            }
          }
        }
      }
      &__regist {
        display: block;
        margin: 40px 0 0;
        text-align: right;
        color: #0099e8;
        text-decoration: none;
        i {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          margin: 0 0 0 4px;
        }
      }
    }
  }
}