.tisanahako{
  height: 400px;
  width: 700px;
  margin-top: 40px;
  margin-left: 40px;
}

.syuppinbox{
  width: 700px;
  background-color: #fafafa;
  &__head{
    height: 72px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 70px;
    font-weight: bold;
  }
  &__menu{
    display: flex;
    height: 74px;
    &__1{
      width: 33%;
      background-color: white;
      height:74px;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      border-top: solid 2px red; 
      font-size: 16px;
    }
    &__2{
      width: 33%;
      background-color: #eee;
      height:74px;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      font-size: 16px;
    }
    &__3{
      width: 34%;
      background-color: #eee;
      height:74px;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      font-size: 16px;
    }
  }
  &__content{
    height: 85px;
    width: 700px;
    background-color: white;
    border-bottom: #f5f5f5 solid 1px;
    &__link{
      padding: 16px;
      display: flex;
      align-items: center;
      &__item{
        display: inline-block;
        margin-right: 30px;
      }
      &__name{
        display: inline-block;
      }
      &__on-sale {
        display: inline-block;
        background: #0099e8;
        margin-right: 10px;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        margin-left: auto;
      }
      &__sale-stop {
        display: inline-block;
        background: #ea352d;
        margin-right: 10px;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        margin-left: auto;
      }
      &__icon {
        display: inline-block;
        font-weight: bold;
        size: 20px;
      }
    }
  }
}

.img-fit {
  display: block;
  object-fit: contain;
  height: 50px;
  width: 50px;
}
