= render partial: './shared/new-header'
.pay-page-single-main
  .pay-conatainer
    %h2.pay-conatainer__head
      会員登録完了
    .pay-conatainer__inner
      .pay-conatainer__inner__content
        .pay-conatainer__inner__content__margin-box
        .pay-conatainer__inner__content__text-box
          %p.pay-conatainer__inner__content__text-box__text
          ありがとうございます
          %p.pay-conatainer__inner__content__text-box__text
          会員登録が完了しました
      .pay-conatainer__inner__content
        %input{type: "hidden", method: "POST"}
        %button{type: "submit", class:"nextbtn-red"}
          メルカリを始める
= render partial: './shared/new-footer'